<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css" />
	<script type="text/x-mathjax-config">
	  MathJax.Hub.Config({
		tex2jax: {
		  inlineMath: [ ['$','$'], ["\\(","\\)"]],
		  processEscapes: true
		}
	  });
	</script>
	<script type="text/javascript"
	  src="/static/MathJax/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
	</script>
    <title>CellCogniton object features</title>
</head>

<body>
	<h1>Cell    Cogniton object features $\frac{P}{2}$</h1>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
        {% endblock %}
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>