{% extends "features/base.html" %}

{% block sidebar %}
{% if feature_groups %}
    <ul>
    {% for group in feature_groups %}
        <li><a href="/group/{{ group.id }}/">{{ group.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No feature groups are available.</p>
{% endif %}
{% endblock %}

{% block content %}
<ul>
    {% for group in feature_groups %}
        <li><b>{{ group.name }}</b>
			<div class="doc">Documentation: {{group.doc}}</div>
			<ul>
			{% for category in feature_category %}
				{% ifequal category.group.id  group.id%}
					<li><b>{{ category.name }}</b>
						<div class="doc">{{category.doc}}</div>
						<ul>
						{% for feat in feature %}
							{% ifequal feat.category.id category.id %}
								<li><b>{{ feat }}</b>
								<p> {{ feat.doc }}</p>
								</li>
							{% endifequal %}
						{% endfor %}	
						</ul>
					
					</li>
				{% endifequal %}
			{% endfor %}	
			</ul>
		</li>
    {% endfor %}
    </ul>
{% endblock %}